pkgbase = tokenuze-bin
	pkgdesc = A CLI tool that summarizes token and cost usage from various LLM providers
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/bfactory-ai/tokenuze
	arch = x86_64
	license = MIT
	optdepends = sqlite: for Zed and Crush providers
	provides = tokenuze
	conflicts = tokenuze
	source = tokenuze-bin-0.8.0.tar.gz::https://github.com/bfactory-ai/tokenuze/releases/download/0.8.0/tokenuze-linux-x86_64.tar.gz
	sha256sums = e1a915265b43badc222dec2784bf8e28624ea10d600245275b18f43ce8dcfe13

pkgname = tokenuze-bin
